<header class="header">
    <div class="container header__container">
        <div class="header__info">
            <div class="header__logo">logo</div>
            <p class="header__text">
                Фабрика фотообоев в КИЕВЕ<br> изготовление фотообоев
            </p>
        </div>
        <div class="header__actions">
            <a href="tel:'0442782100'" class="header__phone">044 278 21 00</a>
            <button class="header__btn">Обратный звонок</button>
        </div>
    </div>
</header>

<div class="content">
    <nav class="navigation">
        <div class="container">
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="navigation__list">
                <li class="navigation__list-item navigation__list-item--1">
                    <a href="#" class="navigation__link">
                        главная
                    </a>
                </li>
                <li class="navigation__list-item navigation__list-item--2">
                    <a href="#" class="navigation__link">
                        для детcкой
                    </a>
                </li>
                <li class="navigation__list-item navigation__list-item--3">
                    <a href="#" class="navigation__link">
                        для спальни
                    </a>
                </li>
                <li class="navigation__list-item navigation__list-item--4">
                    <a href="#" class="navigation__link">
                        для кухни
                    </a>
                </li>
                <li class="navigation__list-item navigation__list-item--5">
                    <a href="#" class="navigation__link">
                        контакты
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="slider">
        <div class="container slider__container">
            <div class="slider__shadow"></div>
            <div class="slide-text">
                <h3 class="slide-text__title">фотообои</h3>
                <div class="slide-text__subtitle_box">
                    <p class="slide-text__subtitle">Для зала</p>
                    <span class="slide-text__square">
                        <span class="slide-text__squere--prefix">от</span>
                        <span class="slide-text__squere--number">50</span>
                        <span class="slide-text__squere--metr">
                            $/м<sup>2</sup>
                        </span>
                    </span>
                </div>
            </div>
            <span class="slide-text__ideas">Более 6000 идей фотообоев<br> для гостиной</span>
            <button class="slide-text__btn">смотреть идеи</button>
            <div class="slider__switch_box">
                <button class="slider__switch_arrow slider__switch_arrow--left">
                    <img src="./img/arrow-left.png" alt="">
                </button>
                <div class="slider__circles">
                    <div class="slider__switch_circle_box slider__switch_circle_box--active" data-id="1">
                        <span class="slider__switch_circle"></span>
                    </div>
                    <div class="slider__switch_circle_box" data-id="2">
                        <span class="slider__switch_circle"></span>
                    </div>
                    <div class="slider__switch_circle_box" data-id="3">
                        <span class="slider__switch_circle"></span>
                    </div>
                    <div class="slider__switch_circle_box" data-id="4">
                        <span class="slider__switch_circle"></span>
                    </div>
                </div>
                <button class="slider__switch_arrow slider__switch_arrow--right">
                    <img src="./img/arrow-right.png" alt="">
                </button>
            </div>
        </div>
    </section>

    <section class="advantages">
        <div class="container">
            <div class="advantages__box">
                <div class="advantages__item">
                    <img src="./img/image-icon.png" alt="" class="advantages__img">
                    <div class="advantages__item_text-box">
                        <div class="advantages__item_caption">Печатаем что угодно</div>
                        <span class="advantages__item_text">
                            Все фотообои мы изготавливаем под заказ на собственном оборудовании. По этому можем<br> напечатать совершенно все,<br/> что вы захотите
                        </span>
                    </div>
                </div>
                <div class="advantages__item">
                    <img src="./img/size-icon.png" alt="" class="advantages__img">
                    <div class="advantages__item_text-box">
                        <div class="advantages__item_caption">Любые размеры</div>
                        <span class="advantages__item_text">
                            Профессиональное оборудование позволяет напечатать фотообои совершенно любого размера. Можем заклеить как часть, таки все стену без ограничений.
                        </span>
                    </div>
                </div>
                <div class="advantages__item">
                    <img src="./img/data-icon.png" alt="" class="advantages__img">
                    <div class="advantages__item_text-box">
                        <div class="advantages__item_caption">Изготовление за 1 день</div>
                        <span class="advantages__item_text">
                            В среднем, изготовление одних фотообоев среднего размера занимает не более одного дня!
                        </span>
                    </div>
                </div>
                <div class="advantages__item">
                    <img src="./img/hands-icon.png" alt="" class="advantages__img">
                    <div class="advantages__item_text-box">
                        <div class="advantages__item_caption">Без посредников</div>
                        <span class="advantages__item_text">
                            Мы имеем в наличие все необходимое оборудование для самостоятельного изготовления фотообоев. А значит вы не переплачиваете посредникам.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>