@font-face {
    src: url('../fonts/ProximaNova/ProximaNova-Regular.ttf');
    src: url('../fonts/ProximaNova/ProximaNova-Regular.eot') format('eot'),
    url('../fonts/ProximaNova/ProximaNova-Regular.woff') format(woff),;
    font-family: PromixaNova-Regular;
}

@font-face {
    src: url('../fonts/ProximaNova/ProximaNova-Bold.ttf');
    src: url('../fonts/ProximaNova/ProximaNova-Bold.eot') format('eot'),
    url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff');
    font-family: PromixaNova-Bold;
}

@font-face {
    src: url('../fonts/intro/intro.otf');
    font-family: Intro;
}

@font-face {
    src: url('../fonts/intro/intro-italic.ttf');
    font-family: Intro-italic;
}

@font-face {
    src: url('../fonts/intro/intro-black.ttf');
    font-family: Intro-black;
}
